<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!--spring项目中不需要在该文件中配置数据源-->
  <settings>
    <setting name="cacheEnabled" value="true"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
  </settings>

  <mappers>
    <!--<mapper resource="mapper/ThirdWorkSchemaMapper.xml"></mapper>-->  <!--该配置方式不支持模糊匹配,所以应在application.yml中统一配置-->
  </mappers>
</configuration>