<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.demo.mapper.PersonInfoMapper">

  <sql id="columns">
	`id`,`visit_info_id`,`name`,`position`,`phone`,`type`
  </sql>
  
  <insert id="save">
	insert into person_info (<include refid="columns"/>) values
	(
      #{id},
      #{visitInfoId},
      #{name},
      #{position},
      #{phone},
      #{type}
	)
  </insert>
  
  <insert id="batchSave">
	insert into person_info (<include refid="columns"/>) values
    <foreach collection ="list" item="item" separator =",">
      (#{item.id},
      #{item.visitInfoId},
      #{item.name},
      #{item.position},
      #{item.phone},
      #{item.type})
    </foreach >
  </insert>

  <update id="update">
	 update person_info set
      visit_info_id = #{visitInfoId},
      name = #{name},
      position = #{position},
      phone = #{phone},
      type = #{type}
	where id = #{id}
  </update>

  <delete id="deleteById">
	 delete from person_info where id = #{id}
  </delete>

  <select id="findById" resultType="com.generate.demo.domain.entity.PersonInfo">
	select <include refid="columns"/> from person_info where id = #{id}
  </select>

  <select id="findAll" resultType="com.generate.demo.domain.entity.PersonInfo">
	select <include refid="columns"/> from person_info
	where 1=1
	  <if test="visitInfoId!=null and visitInfoId !=''">
		  and visit_info_id = #{visitInfoId}
	   </if>
	  <if test="name!=null and name !=''">
		  and name = #{name}
	   </if>
	  <if test="position!=null and position !=''">
		  and position = #{position}
	   </if>
	  <if test="phone!=null and phone !=''">
		  and phone = #{phone}
	   </if>
	  <if test="type!=null and type !=''">
		  and type = #{type}
	   </if>
  </select>

</mapper>