<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.demo.mapper.ThirdWorkSchemaMapper">
  <sql id="columns">
	id,third_id,third_name,begin_date,end_date,state_code,state_value,work_code,work_value,requirement
  </sql>
  
  <insert id="save">
	insert into third_work_schema (<include refid="columns"></include>) values 
	(
      #{id},
      #{thirdId},
      #{thirdName},
      #{beginDate},
      #{endDate},
      #{stateCode},
      #{stateValue},
      #{workCode},
      #{workValue},
      #{requirement}
	)
  </insert>
  
  <insert id="batchSave">
	insert into third_work_schema (<include refid="columns"></include>) values 
    <foreach collection ="list" item="item" separator =",">
      (#{item.id},
      #{item.thirdId},
      #{item.thirdName},
      #{item.beginDate},
      #{item.endDate},
      #{item.stateCode},
      #{item.stateValue},
      #{item.workCode},
      #{item.workValue},
      #{item.requirement})
    </foreach >
  </insert>

  <update id="update">
	 update third_work_schema set
      third_id = #{thirdId},
      third_name = #{thirdName},
      begin_date = #{beginDate},
      end_date = #{endDate},
      state_code = #{stateCode},
      state_value = #{stateValue},
      work_code = #{workCode},
      work_value = #{workValue},
      requirement = #{requirement}
	where id = #{id}
  </update>

  <delete id="deleteById">
	 delete from third_work_schema where id = #{id}
  </delete>

  <select id="findById" resultType="com.generate.demo.domain.entity.ThirdWorkSchema">
	select <include refid="columns"></include> from third_work_schema where id = #{id}
  </select>

  <select id="findAll" resultType="com.generate.demo.domain.entity.ThirdWorkSchema">
	select <include refid="columns"></include> from third_work_schema 
	where 1=1
	  <if test="thirdId!=null and thirdId !=''">
		  and third_id = #{thirdId}
	   </if>
	  <if test="thirdName!=null and thirdName !=''">
		  and third_name = #{thirdName}
	   </if>
	  <if test="beginDate!=null">
		  and begin_date = #{beginDate}
	   </if>
	  <if test="endDate!=null">
		  and end_date = #{endDate}
	   </if>
	  <if test="stateCode!=null and stateCode !=''">
		  and state_code = #{stateCode}
	   </if>
	  <if test="stateValue!=null and stateValue !=''">
		  and state_value = #{stateValue}
	   </if>
	  <if test="workCode!=null and workCode !=''">
		  and work_code = #{workCode}
	   </if>
	  <if test="workValue!=null and workValue !=''">
		  and work_value = #{workValue}
	   </if>
	  <if test="requirement!=null and requirement !=''">
		  and requirement = #{requirement}
	   </if>
  </select>

</mapper>