<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.generate.demo.mapper.UserMapper">

  <sql id="columns">
	id,username,password,nickname
  </sql>
  
  <insert id="save">
	insert into user (<include refid="columns"/>) values
	(
      #{id},
      #{username},
      #{password},
      #{nickname}
	)
  </insert>
  
  <insert id="batchSave">
	insert into user (<include refid="columns"/>) values
    <foreach collection ="list" item="item" separator =",">
      (#{item.id},
      #{item.username},
      #{item.password},
      #{item.nickname})
    </foreach >
  </insert>

  <update id="update">
	 update user set
      username = #{username},
      password = #{password},
      nickname = #{nickname}
	where id = #{id}
  </update>

  <delete id="deleteById">
	 delete from user where id = #{id}
  </delete>

  <select id="findById" resultType="com.generate.demo.domain.entity.User">
	select <include refid="columns"/> from user where id = #{id}
  </select>

  <select id="findAll" resultType="com.generate.demo.domain.entity.User">
	select <include refid="columns"/> from user
	where 1=1
	  <if test="username!=null and username !=''">
		  and username = #{username}
	   </if>
	  <if test="password!=null and password !=''">
		  and password = #{password}
	   </if>
	  <if test="nickname!=null and nickname !=''">
		  and nickname = #{nickname}
	   </if>
  </select>

</mapper>